#Develop

PORT=8000

DB_HOST=127.0.0.1
DB_NAME=gopostgres
DB_USER=postgres
DB_PASSWORD=alex
DB_PORT=5432

LOGFILE=peopleservice.log
LOGPATH=../logs/

CERT_PASSWORD=changeit
CERT_PATH=../certs/server.p12

ENV=DEV

#QA

PORT=8000

DB_HOST=127.0.0.1
DB_NAME=gopostgresQA
DB_USER=postgresQA
DB_PASSWORD=alex
DB_PORT=5432

LOGFILE=peopleservice.log
LOGPATH=../logs/

CERT_PASSWORD=changeit
CERT_PATH=../certs/server.p12

ENV=QA
